body {
  /* Animation smoothing */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translate3d(0,0,0) !important;
  filter: blur(0);
  -webkit-filter: blur(0);
}

h1, h2 {
  display: inline-block;
  font-size: 18px;
  border: 2px solid #fff;
  padding: .4em 1em;
  color: #fff;
  position: relative;
  font-weight: 600;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 22px;
  overflow: hidden;
}

h1.left-keyword {
  right: 0;
}

h1.right-keyword {
  left: 0;
}

div.keyword-container {
  overflow: hidden;
  height: 100%;
}

div.inner-left-keyword-container {
  padding-right: 12px !important;
}

div.inner-right-keyword-container {
  padding-left: 12px !important;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#shprLogo {
  max-width: 1200px;
  width: 60%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-image {
  clip-path: url(#svgPath);
  width: 800px;
  height: 800px;
}

div.hero-logo-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
}

#solutionsContainer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  margin: 0;
  padding: 0;
}

#solutions {
  display: inline-block;
  margin: 20px auto 0 auto;
  width: 36%;
  max-width: 1000px;
}

footer {
  position: fixed !important;
  bottom: -10px !important;
  height: 130px !important;
  width: 100%;
}

.footer-widgets-wrap {
  padding-top: 10px !important;
}

.footer-widgets-wrap h4 {
  padding: 0;
  margin: 5px auto 10px auto;
}

@media only screen and (max-width : 768px) {

  .mail-button {
    font-size: 20%;
  }
  
  h1 {
    font-size: 70%;
  }
}

@media only screen and (max-width : 568px) {
  
  h1 {
    font-size: 50%;
  }
}

@media only screen and (max-width : 368px) {
  
  h1 {
    font-size: 30%;
  }
}

@media only screen and (max-width : 300px) {
  
  h1 {
    font-size: 20%;
  }
}